<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TextualUseCase -->
      <package
            uri="http://wwww.levysiqueira.com.br/TextualUseCase.ecore"
            class="br.com.levysiqueira.textualusecase.TextualUseCasePackage"
            genModel="model/TextualUseCase.genmodel"/>
   </extension>

</plugin>
